<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Proza+Libre&display=swap" rel="stylesheet">
    <link rel="icon" href="../images/architecture-and-city.png">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>ProPublica</title>
</head>

<body>

    <!-- Navigation -->
    <nav id="nav_bar" class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="../index.html" class="navbar-brand">
                <!-- <img src="./images/propublicwhite.png" width="50" alt="" class="d-inline-block align-middle mr-2"> -->
                <!-- Logo Image -->
                <!-- Logo Text -->
                <span id="title">ProPublica</span>
            </a>

            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>


            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            113 Congress
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="../congress_113/senate.html">Senate</a>
                            <a class="dropdown-item" href="../congress_113/house.html">House</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Attendence
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="../attendence/senate.html">Senate</a>
                            <a class="dropdown-item" href="../attendence/house.html">House</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Loyalty
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item active" href="">Senate</a>
                            <a class="dropdown-item" href="./house.html">House</a>
                        </div>
                    </div>

                </ul>
            </div>
        </div>
    </nav>


    <!-- CONTENT -->

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Loyalty</h1>
                Es un hecho establecido hace demasiado tiempo que un
                lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño.
                El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras,
                al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos
                hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas
            </div>
            <div class="col">

                <h2>
                    Senate at a Glace
                </h2>
                <table class="table-striped table-light table-bordered table-hover" id="glance">
                    <th scope="col">Name</th>
                    <th scope="col"># of Reps</th>
                    <th scope="col">% of Votes w/Party</th>

                    </thead>
                    <tbody>
                        <tr v-for="item in rowData">
                            <th scope="row">{{ item.name }}</th>
                            <td>{{ item.reps }}</td>
                            <td>{{ item.percent }}</td>

                        </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Least Loyal(Bottom 10% Loyalty)</h2>
                <table class="table-striped table-light table-bordered table-hover" id="one">
                    <th scope="col">Name</th>
                    <th scope="col"># of Party Votes</th>
                    <th scope="col">% of Votes w/Party</th>

                    </thead>
                    <tbody>
                        <tr v-for="item in rowData">
                            <th scope="row">{{ item.first_name }} {{item.last_name}}</th>
                            <td>{{ item.total_votes }}</td>
                            <td>{{ item.votes_with_party_pct }}</td>

                        </tr>
                </table>

            </div>
            <div class="col">
                <h2>
                    Most Loyal (Top 10% Loyalty)
                </h2>
                <table class="table-striped table-light table-bordered table-hover" id="two">
                    <th scope="col">Name</th>
                    <th scope="col"># of Party Votes</th>
                    <th scope="col">% of Votes w/Party</th>

                    </thead>
                    <tbody>
                        <tr v-for="item in rowData">
                            <th scope="row">{{ item.first_name }} {{item.last_name}}</th>
                            <td>{{ item.total_votes }}</td>
                            <td>{{ item.votes_with_party_pct }}</td>

                        </tr>
                </table>
            </div>
        </div>


        <!-- Footer -->
        <footer class="page-footer font-small white shadow-sm">
            <div class="footer-copyright text-center py-1">
                Linkedin
                <a class="li-ic">
                    <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>

                <!-- <a class="li-ic">
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a> -->
                <!--Instagram-->
                <a class="li-ic">
                    <i>
                        <a href="mailto: harris.richardson87@gmail.com"><img src="../images/email-marketing.png"
                                height="40">Website Designed by Harris Richardson</a>
                    </i>
                </a>
            </div>
            <!-- Copyright -->
            <div class="footer-copyright text-center py-1">
                <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
            </div>
        </footer>

        <!-- Bootstrap and jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
        <script src="./loyalty.js"></script>
</body>

</html>