* {

	box-sizing: border-box;

}

nav {
	font-family: 'Lobster', cursive;

	margin-bottom: 2%;


}

#logo {
	height: 100px;
	width: 100px;

}

a {
	color: grey;
}

h3 {
	font-family: 'Lobster', cursive;

}

.jumbotron {
	align-items: center;
}

h1 {
	font-family: 'Lobster', cursive;
}

h4 {
	font-family: 'Lobster', cursive;
}

#football {
	text-align: center;
}

#content_index a {
	font-family: 'Lobster', cursive;
	text-decoration: none;
	color: greenyellow;
}

footer {
	font-family: 'Righteous', cursive;
	color: white;
	background-color: gray;
}

footer a {
	color: white;
}


.nav-link :hover {
	color: white;
}

.nav-link :visited {
	color: white;
}

#submitForm {
	background: url(/images/database.png) no-repeat;
}

/* body {
	margin-left:10%;
	margin-right:10%;
	font-family: 'IBM Plex Mono', monospace;
	background-color:white;
}



/* header */
/* header{

	border-bottom: 2px solid black;
}
.container{
	justify-content: space-between;
	display: flex;
	flex-direction: row;	
	flex-wrap: nowrap;
	box-shadow: 1px;
	padding-bottom: 7px;
}

.container h1{
	color:black;
	line-height: 0px;
	font-family: 'IBM Plex Mono', monospace;
	
}

.logo{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: nowrap;	
}

#twitter{
	padding-left: 10px;
	align-self: flex-end;
	padding-bottom:.25%;
}

#mainTitle{
	text-decoration: none;
	color:black;
}

nav{
  margin-left: auto;
  display: flex;
  align-items: center;
 
}

ul {
	list-style: none;
	display: flex;
	margin: 2px;
	margin-left: auto;
	align-items: center;
	
}
li{
	margin: 5px;
} */

/* news section */
.body {

	display: flex;
	flex-direction: row;
}

/* Premier League entry */
.secondNews {
	margin-left: 15%;
}

#Premier {
	color: rgb(151, 212, 27);
	font-family: 'Righteous', cursive;
	background-image: url("/images/mocartoon.png");
	/* background-repeat: no-repeat; */
	background-size: '150px';
	border: 1px solid #c4c4c4;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.premiertitle {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	/* width:46%; */
	font-size: 100%;
	color: rgb(151, 212, 27);
	padding-left: 1%;
	line-height: 0;

}

/* bottom section */
#search_results_row {
	margin-right: 0;
	margin-left: 0;

}

.row {
	justify-content: space-evenly;
}

#box_two {
	display: flex;
	/* float: right; */
	flex-direction: column;
	display: flex;
	width: 35%;
	/* border:1px solid lightgray; */
	margin: inherit;
}


/* Chart*/
.chart-container {
	margin-top: 6%;
	position: relative;

}

#myChart {
	width: 300px;
	height: 400px;
	position: relative;
}

#border_left {

	border-top: 1px solid lightgray;
}

#second_chart_spot {
	position: relative;

}

h5 {
	font-family: 'Lobster', cursive;
}

#confirm {
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 48px;

}

label {
	font-family: 'Lobster', cursive;
}

#contents-soccer {
	text-align: center;

}

table {

	margin: auto;
	width: calc(100%);
}


.form {
	margin-left: 20% !important;
	margin-right: 20% !important;

}

#confirm_head {
	margin-right: 20%;
	background-color: cadetblue;
	margin-left: 20%;
	color: white;
}

#contact-form {
	border: 0px !important
}